@using WatchStore.Library
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<script src="~/Public/js/target.min.js"></script>
<!-- Bootstrap CSS -->
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@Html.Partial("_Nofit")
<section class="main-content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bstore-breadcrumb">
                    <a href="~/">Trang chủ</a>
                    <span><i class="fa fa-caret-right"></i></span>
                    <span>Giỏ hàng</span>
                </div>
            </div>
        </div>
        @if (Session["Cart"] == null)
        {
            <h1>Giỏ hàng rỗng</h1>
        }
        else
        {
            <form method="POST" action="/Cart/Payment" id="payment-form" @*onsubmit="return validateForm()"*@>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="cart-summary">
                                <!-- TABLE HEADER START -->
                                <thead>
                                    <tr>
                                        <th class="cart-product">STT</th>
                                        <th class="cart-product">Hình món</th>
                                        <th class="cart-avail text-center">Món ăn</th>
                                        <th class="cart-unit text-right">Giá</th>
                                        <th class="cart_quantity text-center">Số lượng</th>
                                        <th class="cart-total text-right">Thành tiền</th>
                                        <th class="cart-delete">Thao tác</th>

                                    </tr>
                                </thead>
                                <!-- TABLE HEADER END -->
                                <!-- TABLE BODY START -->
                                <tbody>
                                    @{ double TongTien = 0; int stt = 1; }
                                    @foreach (var c in (List<ModelCart>)Session["Cart"])
                                    {

                                        TongTien += (c.Price * c.Quantity);
                                        <!-- SINGLE CART_ITEM START -->
                                        <tr>
                                            <td class="cart-avail">@(stt++)</td>
                                            <td class="cart-product">
                                                <a href="~/@c.Slug"><img alt="Blouse" src="~/Public/library/product/@c.Image"></a>
                                            </td>
                                            <td class="cart-description">
                                                <p class="product-name"><a href="~/@c.Slug">@c.Name</a></p>
                                                @*<small>SKU : demo_1</small>
                                                    <small><a href="#">Size : S, Color : Orange</a></small>*@
                                            </td>

                                            <td class="cart-unit">
                                                <ul class="price text-right">
                                                    <li class="price">@c.Price.ToString("N0")₫</li>
                                                </ul>
                                            </td>
                                            <td class="cart_quantity text-center">
                                                <div class="cart-plus-minus-button">
                                                    <input class="cart-plus-minus" type="number" value="@c.Quantity" min="1" data-id="@c.ProductID" disabled>
                                                </div>
                                            </td>
                                            <td class="cart-total">
                                                <span class="price">@((c.Price * c.Quantity).ToString("N0"))₫</span>
                                            </td>
                                            <td class="cart-delete text-center">
                                                <span>
                                                    <a href="cart/removeall"><i class="fa fa-trash-o"></i></a>
                                                </span>
                                            </td>

                                        </tr>
                                    }
                                    <!-- SINGLE CART_ITEM END -->
                                </tbody>
                                <!-- TABLE BODY END -->
                                <!-- TABLE FOOTER START -->
                                <tfoot>
                                    <tr class="cart-total-price">
                                        <td class="cart_voucher" colspan="3" rowspan="4"></td>
                                        <td class="text-right" colspan="3">Tiền thanh toán</td>
                                        <td id="total_product" class="price" colspan="1">@TongTien.ToString("N0")₫</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="3">Tiền Ship</td>
                                        <td id="total_shipping" class="price" colspan="1">0 ₫</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="3">Voucher giảm giá</td>
                                        <td class="price" colspan="1">0 ₫</td>
                                    </tr>
                                    <tr>
                                        <td class="total-price-container text-right" colspan="3">
                                            <span>Tổng</span>
                                        </td>
                                        <td id="total-price-container" class="price" colspan="1">
                                            <span id="total-price">@TongTien.ToString("N0")₫</span>
                                        </td>
                                    </tr>
                                </tfoot>
                                <!-- TABLE FOOTER END -->
                            </table>
                            <!-- TABLE END -->
                        </div>
                        <!-- CART TABLE_BLOCK END -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Thông tin giao hàng</label>
                            <div class="form-group primary-form-group">
                                <label for="name">Họ tên</label>
                                <input type="text" name="FullName" id="FullName" value="@(ViewBag.Info.FullName)" class="form-control" required>
                            </div>
                            <div class="form-group primary-form-group" style="display : none">
                                <label for="id">ID</label>
                                <input type="text" name="ID" id="ID" value="@(ViewBag.Info.ID)" class="form-control">
                            </div>

                            <div class="form-group primary-form-group">
                                <label for="phone">SĐT</label>
                                <input type="number" id="" name="Phone" value="0@(ViewBag.Info.Phone)" class="form-control" required>
                            </div>

                            <div class="form-group primary-form-group">
                                <label for="address">Địa chỉ</label>
                                <input type="text" id="address" name="Address" value="" class="form-control" required>
                            </div>
                            @*@(ViewBag.Info.Address)*@
                            <div class="form-group primary-form-group">
                                <label for="email">Địa chỉ Email</label>
                                <input type="text" id="email" name="Email" value="@(ViewBag.Info.Email)" class="form-control" required>
                            </div>
                            <div class="form-group primary-form-group">
                                <label for="StoreId">Chi Nhánh</label>
                                <select id="StoreId" name="StoreId" class="form-control" required>
                                    <option value="0">--- Chọn chi nhánh ---</option>
                                    <option value="1">Chi Nhánh Thống Nhất</option>
                                    <option value="2">Chi Nhánh Tô Ngọc Vân</option>
                                    <option value="3">Chi Nhánh Lê Lai</option>
                                    <option value="4">Chi Nhánh 87 ĐƯỜNG THÍCH QUẢNG ĐỨC</option>
                                    <option value="5">Chi Nhánh Pandora</option>
                                    <option value="6">Chi Nhánh Co.opmart</option>
                                </select>

                            </div>
                            <div class="form-group primary-form-group">
                                <label for="PaymentMethod">Phương thức thanh toán</label>
                                <select id="PaymentMethod" name="PaymentMethod" class="form-control" required>
                                    <option value="0">--- Chọn Phương thức thanh toán  ---</option>
                                    <option value="1">Tiền mặt</option>
                                    <option value="2">VNPay</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-5">
                            <label style="margin-right:30px">Hoàn tất đơn hàng</label>
                            <br /><br />
                            <div class="form-group primary-form-group small">Đơn hàng</div>
                            <div class="form-group primary-form-group font-weight-bold" style="color:#ee4d2d">
                                @String.Format("{0:0,0₫}", TongTien)
                            </div>
                            <div class="form-group primary-form-group small">Phí vận chuyển</div>
                            <div class="form-group primary-form-group font-weight-bold" style="color:#ee4d2d;">
                                0₫
                            </div>
                            <div class="form-group primary-form-group small">Mã giảm giá</div>
                            <div class="form-group primary-form-group font-weight-bold" style="color:#ee4d2d;">
                                0₫
                            </div>
                            <div class="form-group primary-form-group">Tổng cộng</div>
                            <div class="form-group primary-form-group font-weight-bold" style="color:#ee4d2d; font-size:20px">
                                @String.Format("{0:0,0₫}", TongTien)
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <!-- RETURNE-CONTINUE-SHOP START -->
                        <div class="returne-continue-shop" style="display: flex ; flex-direction: row ; justify-content : space-between">
                            <a href="~/" class="continueshoping"><i class="fa fa-chevron-left"></i>Tiếp tục mua hàng</a>
                            <div id="alert-container"></div>


                            <button type="submit" class="btn btn-primary procedtocheckout" style="width: 20%; background-color: #FF4F4F; border-color: #FF4F4F; font-size: 1.2rem ; font-weight: bold;"><span>Đặt hàng </span>   <i class="fa fa-chevron-right"></i></button>
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    const paymentMethodSelect = document.querySelector("select[name='PaymentMethod']");
                                    const storeSelect = document.querySelector("select[name='StoreId']");
                                    const addressValue = document.querySelector("[name='Address']").value;
                                    const btnBuy = document.querySelector(".procedtocheckout");
                                    const qrModal = $('#qrModal');
                                    const qrCodeImage = document.getElementById("qrCodeImage");
                                    let intervalId; // Khai báo biến intervalId bên ngoài
                                    var addressRegex = /Hồ\s?Chí\s?Minh|TPHCM|Quận\s?\d+/i;

                                    btnBuy.addEventListener("click", function (e) {
                                        const paymentMethod = paymentMethodSelect.value;
                                        const store = storeSelect.value;
                                        if (!addressRegex.test(addressValue)) {
                                            //alert("Địa chỉ phải thuộc TP.HCM (Ví dụ: Quận 1, Quận 3, TPHCM).");

                                        }else if (store == "0") {
                                            alert("Vui lòng chọn cửa hàng.");
                                        } else if (paymentMethod == "0") {
                                            alert("Vui lòng chọn phương thức thanh toán.");
                                        } 

                                        if (paymentMethod == "1") {
                                            // Gửi form sau khi thanh toán thành công
                                            document.getElementById('payment-form').submit();

                                        }
                                        if (paymentMethod == "2") {
                                            e.preventDefault(); // Ngăn chặn gửi form khi chọn thanh toán bằng QR

                                            // Lấy thông tin người dùng và tổng tiền
                                            const userFullName = document.querySelector("input[name='FullName']").value;

                                            const userId = document.getElementById("ID").value;
                                            const totalPrice = document.getElementById("total-price").innerText.replace(/[^0-9]/g, '');

                                            // Lấy thông tin món ăn từ bảng giỏ hàng
                                            const productNames = Array.from(document.querySelectorAll("#cart-summary tbody tr")).map(row => {
                                                const productName = row.querySelector(".cart-description p.product-name a")?.innerText.trim();
                                                return productName;
                                            }).filter(name => name).join(", ");


                                            const addInfo = `${userFullName} Thanh Toan So Tien${totalPrice}`;

                                            console.log("FullName:", userFullName);
                                            console.log("Items:", productNames);
                                            console.log("Total Price:", totalPrice);
                                            console.log("Add Info:", addInfo);
                                            // Tạo URL mã QR dựa trên thông tin
                                            let qrUrl = `https://img.vietqr.io/image/MB-0925709729-compact2.png?amount=${totalPrice}&addInfo=${encodeURIComponent(addInfo)}`;
                                            qrCodeImage.src = qrUrl;

                                            // Hiển thị modal QR Code
                                            qrModal.modal('show');

                                            // Đặt thời gian kiểm tra thanh toán sau 5 giây
                                            setTimeout(() => {
                                                intervalId = setInterval(() => {
                                                    checkPaid(totalPrice, userFullName, intervalId);
                                                }, 1000);
                                            }, 5000);
                                        }
                                    });

                                    let isSuccess = false;

                                    // Hàm kiểm tra trạng thái thanh toán
                                    async function checkPaid(price, content, intervalId) {
                                        if (isSuccess) {
                                            return true;
                                        }

                                        try {
                                            const response = await fetch(
                                                "https://script.google.com/macros/s/AKfycbzniaF7yfF27WPvxpFekkzjhsJsvKKT-UAlHJmS1UKr4et3ypPpPcHzyrknkFGM_o6y5w/exec"
                                            );
                                            const data = await response.json();
                                            const lastPaid = data.data[data.data.length - 1];
                                            const lastPrice = lastPaid["Giá trị"];
                                            const lastContent = lastPaid["Mô tả"];

                                            if (lastPrice == price && lastContent.includes(content)) {
                                                isSuccess = true;
                                                alert("Chuyển khoản thành công");

                                                // Dừng kiểm tra thanh toán
                                                clearInterval(intervalId);

                                                // Gửi form sau khi thanh toán thành công
                                                document.getElementById('payment-form').submit();
                                            } else {
                                                console.log("Chưa thanh toán thành công");
                                            }
                                        } catch (error) {
                                            console.error("Lỗi:", error);
                                        }
                                    }

                                    // Hàm gửi form
                                    function submit() {
                                        const formData = {
                                            FullName: $("input[name='FullName']").val(),
                                            Phone: $("input[name='Phone']").val(),
                                            Email: $("input[name='Email']").val(),
                                            Address: $("input[name='Address']").val(),
                                            StoreId: $("select[name='StoreId']").val(),
                                            PaymentMethod: $("select[name='PaymentMethod']").val()
                                        };

                                        console.log("Form data:", formData);
                                    }
                                });

                            </script>


                        </div>
                        <!-- RETURNE-CONTINUE-SHOP END -->
                    </div>
                </div>
            </form>
        }
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#payment-form').on('submit', function (e) {
            e.preventDefault();

            var formData = {
                FullName: $("input[name='FullName']").val(),
                Phone: $("input[name='Phone']").val(),
                Email: $("input[name='Email']").val(),
                Address: $("input[name='Address']").val(),
                StoreId: $("select[name='StoreId']").val(),
                PaymentMethod: $("select[name='PaymentMethod']").val()
            };


        });
    });
</script>
<!-- Modal QR Code -->
<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
    <div class="modal-dialog model-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="qrModalLabel">QR Code Thanh Toán</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="qrCodeImage" src="" alt="QR Code" style="max-width: 70%; height: 70%;">
                <p class="mt-3">Vui lòng sử dụng ứng dụng ngân hàng để quét mã QR và thanh toán</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
